input{
    color:white
}
.row{
  margin: 0 !important;

}
mat-card{
    width: 400px;
    border-radius: 0;
    background-color: #2A2E35;
    margin: auto;
}
form{
    margin: auto;
    margin-top: 100px;
    padding-left: 60px;
}
@media(max-width:518px){
    mat-card{
        width: auto;
        border-radius: 0;
        background-color: #2A2E35;
        margin: auto;
    }
}

@media(min-width:518px){
  .row{
      margin-top: 90px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
}
